extends layout

block content
  .main-container
    h1= title
    p= "User doesn't exist. Please sign up or try a different username."

  .log-btn-navbar
    a(href="/signup") Sign up
    a(href="/") Log