extends layout

block content
  .main-container
    h1= title
    
  #navbar
        a(href="/home") Home
        a(href="/add-friend") Add friend
        a(href="/add-recipe") Add recipe
        a(href="/list-friends") List friends
        a(href="/list-recipes") List recipes
        a(href="/logout") Logout