extends layout

block content
  .main-container
    h1= title

    .light-green-container
      form(id="submit-form", action="/signup", method="POST", enctype="multipart/form-data")
        input(name="username", type="text", placeholder="Enter username", autofocus)
        input(name="password", type="password", placeholder="Enter password")
        input(type="file", name="userPhoto", class="form-control-file", value="Photo")
        input(type="submit", value="Sign Up", class="button-submit")

  .log-btn-navbar 
    a(href="/signup") Sign up
    a(href="/") Login